.App {
  text-align: center;
}

.App-header {
  margin-top: 20px;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buzzer {
  box-shadow:inset 0px 1px 0px 0px #0789d8;
	background-color:#3089f2;
  border-radius: 50%;
	border:1px solid #0789d8;
  margin: 20px;
  width: 300px;
  height: 300px;
  color: white;
  font-size: large;
  font-weight: bolder;
}

.game-grid {
  display:flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
}

.buzz-list {
  min-width: 97%;
}

.buzz-list ol {
  padding: 0;
  margin: 0;
}

.buzz-list li {
  margin: 5px 0;
}

.buzz-list li.wrong {
  text-decoration: line-through;
}

.buzz-list li.active {
  background: #3089f233;
  border: 2px solid #3089f2;
  text-decoration: none;
  border-radius: 7px;
}

.conn_active {
  top: 0;
  position: fixed;
  padding: 0 10px;
  width: 100%;
  background: greenyellow;
  text-align: center;
  height: 20px;
}

.conn_inactive {
  top: 0;
  position: fixed;
  padding: 0 10px;
  width: 100%;
  background: tomato;
  text-align: center;
  height: 20px;
}